<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const images = document.querySelectorAll('img[src$=".webp"]');
        
            images.forEach(function(img) {
                const link = document.createElement('a');
                link.href = img.src;
                link.setAttribute('data-lightbox', 'image-gallery');
                img.parentNode.insertBefore(link, img);
                link.appendChild(img);
            });
        });
        </script>
</head>